.DS_Store
.ipynb_*
*__pycache__*
.vscode*
=======
# Arduino
# -------------------------------------------------------------------
*.bin
*.elf
build.sh
deploy.sh

# C language
# -------------------------------------------------------------------
# Compile commands for cquery
compile_commands.json

# Out folder
out/

# Prerequisites
*.d

#logs
*.log
*.dat
